.TheProblem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(23, 23, 23);
    margin: -16px;
    color: azure;
    position: relative;
}

.TheProblem * {
    color: lightgray;
}

.TheProblem h4 {
    font-size: 1.2em;
    margin: 50px 0 80px;
    background-color: white;
    color: #252525;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.image_container {
    background-color: lightgray;
    padding: 20px;
    border-radius: 30px 30px 30px 0;
}
.TheProblem img {
    width: 100px;
    height: 100px;
}

.TheProblem > div,
.TheProblem > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TheProblem > div > h3 {
    font-size: 2em;
    font-weight: 700;
}

.TheProblem > div > div h1 {
    font-size: 6em;
    font-weight: lighter;
    margin: 0;
    opacity: .7;
}

.TheProblem > div > div p {
    font-size: 2em;
    width: 700px;
    text-align: center;
    font-weight: 700;
    margin-top: 2px;
}

.covid p {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    width: 700px;
    margin-bottom: 0;
}

.covid h2 {
    font-size: 4.5em;
    margin-top: 0;
    text-align: center;
    width: 800px;
    font-weight: lighter;
    margin-bottom: 200px;
}

.bottom {
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
}

#wave3 {
    width: 400px;
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
}