@font-face {
    font-family: 'Lato';
    src: url('../bx-web-assets//fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato-regular';
    src: url('../bx-web-assets/fonts/Lato-Regular.ttf');
}