* {
    font-family: 'lato';
    scroll-behavior: smooth;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Lato-regular';
    color: #252525;
}